*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #FAFAFD;
}

section {
    animation: page-load ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

h1 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 32px;
    font-weight: 900;
    color: black;
}

h2 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 24px;
}

p {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 16px;
    color: black;
    line-height: 140%;
    letter-spacing: 0.03em;
}

.navbar {
    position: fixed;
    top:0;
    left:0;
    margin: auto;
    width: 100%;
    z-index:69;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
    background-color: #FAFAFD;
    font-family: neue-haas-grotesk-display, sans-serif;
}


.logo {
    max-height: 50px;
}

.navbar-nav {
    display: flex;
    justify-content: center;
}

.navbar-nav li {
    list-style: none;
    margin-left: 30px;
}

.navbar-nav a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: inherit;
}

.burger {
    display: none;
}

.burger div { 
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

.profile-photo {
    display: flex;
    padding-top: 150px;
    margin: auto;
    align-items: center;
    margin: 100px;
}

.profile-photo img {
    height: 300px;
    width:300px;
    background-size: cover;
    border-radius: 50%;
}

hr {
    margin: 20px 0;
}

.bio {
    margin-left: 50px;
    line-height: 180%;
    letter-spacing: 0.5px;
}

.bio h1 {
    padding-bottom: 20px;
}


.intro {
    padding-top:200px;
    text-align: center;
    height: 400px;
}

.intro h1 {
    margin: 5px;
}

.emoji {
    font-size: 40px;
    margin: 10px;
}

.case-study {
    height:350px;
    width: 700px;
    position: relative;
    margin:0 auto;
    margin-top: 100px;
}

.case-study img{
    width: 100%;
    height: 100%;
    border-radius: 25px;

}

.case-study::after {
    content:'';
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 20px;
    background: black;
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity:0;
    border-radius: 25px;
    transition: opacity 0.5s ease;
}

.case-study:hover::after {
    opacity:0.5;
}

.case-study:hover .caption {
    opacity:1;

}

.caption {
    position:absolute;
    top:90%;
    right:5%;
    opacity: 0;
    transition: .5s;
}

.caption p {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 16px;
    color: white;
}

.product-display {
    width:100%;
    padding: 100px 0 0 0;
}

#imp {
    margin: 25px 0 0 0;
}

.intro-container {
    display: flex;
    justify-content: space-between;
    margin: 80px 20%;
}

.intro-container h2{
    margin: 0 0 20px 0;
}

.introduction {
    flex-basis: 75%;
}

.introduction p {
    margin: 10px 0 0 0;
}

.introduction img {
    margin: 20px 0 0 0;
}

.test {
    width:100%;
    Margin: 20px 0;
}

.details {
    flex-basis:25%;
    margin: 0 0 0 100px;
}

.details h3 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 14px;
    color: grey;
    margin: 0 0 5px 0;
}

.details p {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 14px;
    margin: 0 0 5px 0;
}

.details-component {
    margin: 0 0 30px 0;
}

.bold {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 16px;
    font-weight: bold
}

.problem {
    margin: 0 20%;
}

.problem h2 {
    margin: 0 0 20px 0;
}

.problem ul {
    margin: 10px 0 0 50px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.03em;
}

.problem li {
    margin: 0 0 10px 0;
}

.problem img {
    width: 100%;
    margin: 0 0 25px 0;
}

.problem h3 {
    font-family: neue-haas-grotesk-display, sans-serif;
    text-align: center;
    font-size: 16px;
    margin: 80px 0 10px 0;
}

.use-cases {
    display: flex;
    margin: 80px 0 0 0;
}

.use-cases p {
    font-style: italic;
}

.use-cases img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}

.use-cases-holder {
    text-align: center;
    margin: 0 20px;
}

.content-holder {
    height: 450px;
    margin: 100px 0 0 0;
    background-color: rgb(235, 239, 255);
}

.content-holder h2 {
    padding: 50px 0 0 0;
    text-align: center;
}

.image-container {
    margin: 100px 20% 0 20%;
}

.image-container h2 {
    text-align: left;
}

.image-container p {
    padding: 20px 0 10px 0;
    text-align: left;
}

.image-container img {
    width: 100%;
}

.image-container a {
    color: inherit;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 16px;
    margin: 10px 0 0 0;
}

.footer {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer p {
    font-size: 12px;
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .navbar-nav{
        position: absolute;
        right: 0px;
        height: 99vh;
        top:1vh;
        background-color: #FAFAFD;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .navbar-nav li{
        opacity: 0;
        margin-top: 20px;
        margin-left:0;

    }
    .burger {
        display: block;
        cursor: pointer;
  
    }

    .intro {
        padding-top:150px;
        margin: 0 20px;
        height: 350px;
    }

    h1{
        font-size: 20px;
    }

    .emoji {
        font-size: 20px;
    }

    .case-study {
        height: 100%;
        width: 90%;
        margin-top: 10px;
    }

    .caption {
        top:80%;
    }

    .profile-photo {
        display: block;
        padding-top: 100px;
        margin: auto;
        text-align: center;
    }

    .bio {
        margin: 15px 15px;
        text-align: left;
    }

    .bio h1{
        text-align: center;
    }

    .bio p {
        font-size: 14px;
    }

    .intro-container {
        display: block;
        margin: 60px 25px;
    }
    .details {
        flex-basis: none;
        margin: 10px 0 0 0;
    }

    .details-component h3 {
        font-size: 12px;
    }

    .details-component p {
        font-size: 10px;
    }

    .problem {
        margin: 0 25px;
    }

    .content-holder {
        height: 1400px;
    }

    .use-cases {
        display: block;
    }

    .use-cases img {
        max-width: 80%;
    }

    .use-cases p {
        padding: 0 0 25px 0;
    }

    .image-container {
        margin: 100px 25px 0 25px;
    }
}



.navbar-active{
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes page-load {
    0% {
        opacity: 0;
    }
    100% {
        opacitiy: 1;
    }
}