@import url('https://use.typekit.net/yog5qxq.css');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
    --header-space: 50px;
    --hue-color: 225;

    /*-----------------------colors-----------------------*/
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color),8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 55%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #FFF;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*-----------------------fonts-----------------------*/
    --body-font: 'neue-haas-grotesk-display', sans-serif;
    --header-font: 'Questrial', sans-serif;

    /*-----------------------spacing-----------------------*/
    --m5: 5px;
    --m15: 15px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*-----------------------base-----------------------*/
html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-space) 0;
    font-family: var(--body-font);
    background-color: var(--body-color);
}

h1 {
    font-family: var(--header-font);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.section {
    padding: 5rem 2rem 2rem;
}

/*-----------------------layout-----------------------*/
.container {
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
}

/*-----------------------dark-mode-button-----------------------*/
body.dark-mode {
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color),8%,95%);
    --text-color: hsl(var(--hue-color), 15%, 98%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 15%, 11%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

/*-----------------------dark-mode-button-----------------------*/
.nav_btns {
    display: flex;
    align-items: center;
}

.mode {
    margin-right: var(--m15);
    cursor: pointer;
}

/*-----------------------nav-----------------------*/
.header {
    width: 100%;
    position: fixed;
    left: 0;
    background-color: var(--body-color);
}

.nav {
    height: var(--header-space);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);

}

.nav_logo,
.nav_toggle {
    font-family: var(--header-font);
    font-size: 18px;
}

.nav_toggle {
    font-size: 18px;
    cursor: pointer;
}

.nav_toggle:hover {
    color: blue;
}

@media screen and (max-width: 768px) {
    .nav_menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 2rem;
        box-shadow: 0 1px 4px rgba(0,0,0,.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}

.nav_list {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

.nav_link:hover {
    color: var(--accent-color);
}

.nav_icon {
    font-size: 24px;
}

.nav_close {
    position: absolute;
    right: 1.3rem;
    top: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav_close:hover {
    color: var(--accent-color);
}

.show-menu {
    top:0;
}

/*-----------------------intro-----------------------*/
.intro_container {
    gap:1rem;
    color: var(--text-color);
}

.intro_content {
    padding-top: 3.5rem;
}

.intro_title {
    height: 28px;
    font-size: 28px;
}

.intro_scroll {
    padding-top: var(--m5);
}

.intro_description {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: var(--m5);
    letter-spacing: 0.03rem;
    line-height: 140%;
}

.intro_arrow-up-right {
    font-size: 16px;
}

.intro_arrow-up-right-button:hover {
    text-decoration: underline;
    transform: translateY(.25rem);
    transition: .3s;
    font-weight: 600;
}

.intro_wink {
    font-size: 1.5rem;
}

/*-----------------------work-----------------------*/
.work_container {
    row-gap: 0;
    color: var(--text-color);
}

.work_header {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: var(--m15);
}

.work_name {
    margin-bottom: var(--m15);
    font-style: italic;
    text-decoration: line-through;
}

.work_title {
    letter-spacing: 0.05rem;
}

.work_title:hover {
    text-decoration: line-through;
    transition: .3s;
    color: blue;
}

.work_description {
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
}

.work_arrow {
    font-size: 2rem;
    margin-left: auto;
    transition: .4s;
}

.work_close .work_description {
    height: 0;
    overflow:hidden;
}

.work_open .work_description {
    height: max-content;
    margin-bottom: 30px;
}

.work_description img{
    width: 100%;
}

.work_open .work_arrow {
    transform: rotate(-180deg);
}

/*-----------------------footer-----------------------*/
.footer {
    padding-top: 2rem;
    color: var(--text-color);
}

.footer_container {
    row-gap: 2rem;
}

.footer_title {
    padding-bottom: var(--m5);
}

.footer_subtitle {
    font-weight: 400;
}

.footer_social {
    font-size: 20px;
    margin-right: 10px;
    height: 24px;
}

.footer_social:hover {
    color: var(--accent-color);
}

.footer_copy {
    font-size: 14px;
    font-weight: 600;
}




/*-----------------------buttons-----------------------*/
.button-flex {
    display: inline-flex;
    align-items: center;
}

@media screen and (max-width: 320px) {
    .container {
        margin-left: var(--m15);
        margin-right: var(--m15);
    }
}

@media screen and (min-width: 769px) {
    body {
        margin: 0;
    }

    .header,
    .main,
    .footer_container {
        padding: 0 2rem;
    }

    .footer_container {
        box-sizing: content-box;
    }

    .nav {
        height: 100px;
        column-gap: 1rem;
    }
    .nav_icon,
    .nav_close,
    .nav_toggle {
        display: none;
    }
    .nav_list {
        display: flex;
        column-gap: 2rem;
    }

    .nav_menu {
        margin-left: auto;
    }

    .mode {
        margin: 0;
    }
    
    .intro_words {
        margin-bottom: 10px;
    }

    .intro_title {
        height: 48px;
        font-size: 48px;
        margin-bottom: 10px;
    }

    .intro_description {
        font-size: 24px;
    }

    .intro_wink  {
        margin-bottom: 10px;
    }

    .intro_scroll {
        font-size: 18px;
    }
}
